/* #5009FF */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    font-family: 'Cairo', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

:root {
    --primary-color: #3551f9;
    --dark-grey: #595959;
    --off-white: #e9e8e8;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

/* container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.container .right-btn {
    text-align: right;
}

/* links */
.link {
    /* box-sizing: border-box; */
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}

.navigation .link-active {
    font-weight: bold;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    color: white;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

p {
    font-size: 1.3rem;
}

.blog-link {
    text-decoration: none;
}

/* lists */
.non-bullet {
    list-style: none;
    padding: 0;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.social-handle {
    height: 2rem;
    width: 2rem;
}

/* navigation */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;

}

.nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .link {
    color: white;
    text-align: right;
}

.navigation .nav-pills {
    text-align: right;
}

/* header */
.hero {
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.blog-page-heading h1 {
    margin-top: 0;
    text-align: center;
    color: var(--dark-grey);
}

.blog-page-heading span {
    color: var(--primary-color);
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
    width: 100%;
}

.hero .hero-heading {

    color: var(--dark-grey);
    text-align: center;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */
.section {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.ow {
    background-color: var(--off-white);
}

.h1-center {
    text-align: center;
}

/* footer */

.footer {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 0rem;
    text-align: center;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: larger;
}

.footer ul {
    padding-inline-start: 0px;
}


@media (max-width: 425px) {
    .hero-img {
        width: 100%;
    }

    .list-item-inline {
        padding: 0;
    }

    .link {
        padding: 0.5rem;
    }

    .navigation .nav-pills {
        text-align: right;
    }

    .non-bullet {
        padding: 0;
    }

    .section .link {
        display: block;
        margin-bottom: 0.5rem;
        text-align: center;
    }

}